#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.search {
  color: #ffffffbf;
  border: 1px solid #57606a;
  background-color: #0d1117;
  height: 40px;
  width: 400px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 5px;
  margin-bottom: 20px;
}

.search-input {
  border: none;
  background-color: transparent;
  margin: 0;
  height: 100%;
  width: 90%;
}
.search-button{
  border: none;
  background: transparent;
  cursor: pointer;
}
.icon {
  width: 20px;
  padding: 5px;
}

.title {
  margin-bottom: 10px;
  font-size: 25px;
}
.sub-title {
  margin-bottom: 20px;
  font-size: 15px;
  color: #57606a;
}

.date-title {
  margin-bottom: 10px;
  font-size: 20px;
}

.date {
  font-size: 20px;
}

.language {
  position: absolute;
  right: 30px;
  bottom: 30px;
  font-size: 25px;
}


@media only screen and (max-width: 768px) {
  .search {
    height: 30px;
    width: 300px;
  }

  .title {
    font-size: 20px;
  }
  .sub-title {
    font-size: 15px;
  }

  .date-title {
    font-size: 20px;
  }

  .date {
    font-size: 20px;
  }
}
